<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Connect Four</h1>

<form method="POST" enctype="multipart/form-data" id="start">
    <input type="submit" value="start" id="btnSubmitStart"/>
</form>

<form method="POST" enctype="multipart/form-data" id="red">
    <label>
    Input integer values between (0-6)
    <input type="text" name="extraField"/><br/><br/>
    <input type="submit" value="red" id="btnSubmitRed"/>
    </label>
</form>

<form method="POST" enctype="multipart/form-data" id="yellow">
    <label>
     Input integer values between (0-6)
    <input type="text" name="extraField"/><br/><br/>
    <input type="submit" value="yellow" id="btnSubmitYellow"/>
    </label>
</form>

<h1>GAME RESULT VIEW</h1>
<pre>
    <span id="result"></span>
</pre>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

</body>
</html>